@import "tailwindcss";

@theme {
  --font-sans: 'Inter', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: #111;
  color: white;
  overflow-x: hidden;
}

@utility glass-panel {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}